.wd-bannerPicture{
height:200px;
width :100%;
}

.wd-profilePicture{
border-radius: 50%;
height: 80px;
width: 80px;
}

.wd-edit{
float: right;
padding-top: 10px;
}

.wd-details{
display: inline;
}

.wd-box{

      width: 100%;
      border: 1px solid black;
      padding: 10px;
      margin-top: 20px;

}